body {
  background-color: #FFFBF3;
}

.distill-site-nav {
  background-color: #11324D;
  font-family: Lucida Handwriting, cursive;
}

h1{
  color:#11324D; 
}

d-title h1{
  font-family: Lucida Handwriting, cursive; font-size: 50px;
}

d-title p{
  font-family: "Lucida Console", monospace;
  color:#11324D;
}

d-article h1{
   font-family: "Lucida Console", monospace;
}

d-article h3{
  color: #11324D;
  font-size: 20px;
}

a:hover {
  color: #C36839;
}