body {
  background-color: #F0E5CF;
}

.distill-site-nav {
  background-color: #4B6587;
  font-family: Lucida Handwriting, cursive;
}

h1{
  color:#4B6587; 
}

d-title h1{
  font-family: Lucida Handwriting, cursive; font-size: 50px;
}

d-title p{
  font-family: "Lucida Console", monospace;
}

d-article h1{
   font-family: "Lucida Console", monospace;
}
